<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ubaidgul.appdeveloper.auqaf">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Roaddemarcation"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".HouseFormActivity"
            android:label="@string/title_activity_house_form"
            android:theme="@style/Theme.Roaddemarcation.NoActionBar"></activity>
        <activity
            android:name=".LandSurveyActivity"
            android:label="@string/title_activity_land_survey"
            android:theme="@style/Theme.Roaddemarcation.NoActionBar" />
        <activity android:name=".Shrines" />
        <activity android:name=".SearchNotification" /> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/Theme.Roaddemarcation.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->
        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <activity
            android:name=".SplashScreen"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MenuScreen"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="Road Demarcation"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SurveyForm_Industry"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Waqf Property Survey"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".AttachedPropertySurvey"
            android:alwaysRetainTaskState="true"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Attached Property Survey"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegistrationActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Sign Up"
            android:screenOrientation="portrait" />
        <activity
            android:name=".upload_later.UploaderGui"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Pending Uploads"
            android:screenOrientation="portrait" />

        <service
            android:name=".LocationService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".WaqfPropertiesListActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Waqf Properties"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".WaqfAttachedPropertiesListActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize|orientation"
            android:label="Attached Properties"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
    </application>

</manifest>